<h3>Editing Application</h3>

<%= render :partial => @application, :locals => { :button_name => "Update"} %>

<%= link_to 'Show', application_path(@tags, @application) %> |
<%= link_to 'Back', applications_path(@tags) %>
