<h1>Editing application</h1>

<%= error_messages_for :application %>

<%= render :partial => @application, :locals => { :button_name => "Update"} %>

<%= link_to 'Show', [@category, @application] %> |
<%= link_to 'Back', category_applications_path(@category) %>
