<h1>New application</h1>

<%= error_messages_for :application %>

<%= render :partial => @application, :locals => { :button_name => "Create"} %>

<%= link_to 'Back', category_applications_path(@category) %>
