<h1>Editing installer</h1>

<%= render :partial => @installer, :locals => { :button_name => "Update" } %>

<p>
	<%= link_to "Show", application_installer_path(@tags, @application, @installer) %> |
	<%= link_to "View all", application_installers_path(@tags, @application) %>
</p>
