<h1>Editing installer</h1>

<%= render :partial => @installer, :locals => { :buttom_name => "Update" } %>

<p>
	<%= link_to "Show", [@application, @installer] %> |
	<%= link_to "View all", application_installers_path(@application) %>
</p>
