<h1>New installer</h1>

<%= render :partial => @installer, :locals => { :buttom_name => "Create" } %>

<p><%= link_to "Back to list", category_application_installers_path(@category, @application) %></p>
