/* This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. */
/* CSS Document */

/* General */

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	text-align: center;
	font: 1.3em Helvetica, Verdana, Arial, sans-serif;
	background-color: #ffffff;
	min-width: 960px;
}

a:link, a:visited {
	color: #00598D;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

.cleaner {
	clear: both;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

.noscreen {
	display: none;
}

.notice {
	margin: 0 0 0 27px;
	color: green;
}

.status {
	border: thin solid red;
	margin: 5px 27px 2px 27px;
	padding: 5px 10px 5px 10px;
	text-align: justify;
	background: #e65b5b;
}

/* Paragraphs, headings, ... */

p {
	line-height: 1.9;
	margin-bottom: 7px;
}

p.text-content:first-letter {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 0.9;
	color: #202020;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
	font: 2.6em Arial, Sans-Serif;
	/*letter-spacing: 1px;*/
	margin: 0 0 10px 40px;
	white-space: nowrap;
	/*border-bottom: 1px solid #4C8CA6;*/
	width: 55%;
	padding: 24px 0 5px 0;
}

h1 a:link, h1 a:visited {
	font-weight: normal;
	text-decoration: none;
	color: #FFFFFF;
}

h2 {
	font: 1.2em Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: #FFFFFF;
	border-left: 3px solid #FFAE20;
	padding-left: 14px;
	margin: 12px 0 0 40px;
}

h3 {
	color: #00598D;
	font: 1.7em Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	background: url('/images/h3-bg.gif') no-repeat 0 50%;
	padding-left: 35px;
	margin: 18px 0 10px 0;
}

h4 {
	font-size: 1em;
	background-color: #005E85;
	color: #FFFFFF;
	letter-spacing: 1px;
	/*border: 2px solid #FFFFFF;*/
	border: none;
	/*margin-top: 7px;*/
	padding: 6px 10px;
}

h4 a:link, h4 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

h4 a:hover {
	text-decoration: underline;
}

h5 {
	font-size: 1.5em;
}

ul {
	list-style-type: none; 
}


/* Site wrapper */

#border {
	background: #ffffff url(/images/body_bg.jpg) top center repeat-y;
	width: 100%;
}

#wrapper {
	width: 960px;
	margin: 0 auto 80px auto;
	margin-bottom: 0;
	position: relative;
	background-color: #FFFFFF;
	display: table; /* margin-bottom for FF   (?) */
	text-align: left;
}


/* Header */

#header {
	margin: 0 auto;
	height: 90px;
	position: relative;
	background: #004E6C url('/images/header-bg.gif') repeat-x 0 0;
	border-top: 4px solid #003042;
	border-bottom: 1px solid #46A0CA;
}

.header-osl {
	margin: 0 20px 0 0;
	border: none;
	float: right;
}

.header-ull {
	margin: 0 70px 0 20px;
	border: none;
	float: left;
}

.dark  { 
	color: #97B3C1;
	background: inherit;
	font-weight: bold;
}

.mini {
	vertical-align: top;
	font-size: 0.5em;
	color: #ffffff;
}

/* Login Menu -- no se esta usando */

#login_menu {
	width: 100%;
	background: #ffffff;
	margin-top: 5px;
	padding-top: 5px;
}

#login_menu ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

#login_menu li {
	margin: 0;
	padding: 0 0 0 9px;
	display: inline;
}

#login_menu a {
	color: #000000;
}

#login_menu a:hover {
	color: #6C757A;
}


/* Menu */

#menu {
	width: 960px;
	margin: 0 auto;
	background: #4A4A4A url('/images/menu-bg.gif') repeat-x 0 0;
}

#menu li {
	display: inline;
	list-style-type: none;
}

#menu li.first a {
	margin-left: 1.6em;
	display: inline;
}

#menu li a {
	float: left;
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
	font-size: 1.1em;
	line-height: 33px;
	margin: 0 0.5em;
	padding: 0 1em;
}

#menu li a:hover {
	text-decoration: underline;
}

#menu li a.active {
	font-weight: bold;
	color: #B1EEFF;
}

.cleaning-box { 
	min-height: 1px;
}

.cleaning-box:after {
	display: block; 
	clear: both; 
	visibility: hidden; 
	height: 0; 
	font-size: 0; 
	content: ' ';
}

.hidden { /* Skip menu */
	position: absolute;
	top: -10000px;
	left: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* BreadCrums */
#breadcrums {
	font-size: 1em;
	background-color: #005E85;
	color: #FFFFFF;
	letter-spacing: 1px;
	/*border: 2px solid #FFFFFF;*/
	border: none;
	/*margin-top: 7px;*/
	padding: 6px 10px;
}

#breadcrums a:link, #breadcrums a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

#breadcrums a:hover {
	text-decoration: underline;
}

#breadcrums .goto {
  position: absolute;
  right: 240px;
}

/* Content boxes */

#content-box {
	width: 100%;
	margin: 0 auto;
	color: #151515;
	position: relative;
}

#content-box-in {
	width: 100%;
}

.content-box-left {
	float: left;
	width: 755px;
	/*margin-bottom: 4em;*/
}

.content-box-right {
	float: right;
	width: 177px;
	margin-bottom: 1em;
	margin-right: 2.1em;
	margin-top: 0.4em;
	background-color: #DBF3FF;
}

.content-box-center {
	width: 960px;
	margin-top: 0.6em;
	/*margin-bottom: 4em;*/
}

#column-right-bottom {
	background: #DBF3FF url('/images/column-right-bottom.gif') no-repeat 0 0;
	width: 177px;
	height: 19px;
}

.content-box-left-in {
	margin: 0.4em 1.7em 0 2em;
}

.content-box-right-in {
	margin: 0.4em 1.6em 0 0.8em;
}

.content-box-center-in {
	margin: 0.4em 2em 0 2em;
}

dt {
	font-size: 0.9em;
	font-weight: bold;
}

dd {
	line-height: 1.4;
	margin-bottom: 12px;
}

dd.heading, dd.heading a, dd.heading a:visited {
	margin-bottom: 1px;
	color: #D15900;
	font-weight: bold;
}

address {
	line-height: 1.5;
	margin-bottom: 7px;
}


/* Footer */

#footer {
	background-color: #00587D;
	text-align: center;
	color: white;
	width: 960px;
	height: 34px;
	margin-top: 0.5em;
	font-size: 0.9em;
	border-bottom: 2px solid #003042;
}

#footer a, #footer a:visited {
	font-weight: bold !important;
	color: white;
}

#footer p {
	display: inline;
	margin-bottom: 0;
	line-height: 30px;
}
