<div class="app_details">

<h3>Listing All Users</h3>

<table cellspacing=5>
  <tr align=center>
    <th>Username</th>
    <th>E-mail</th>
    <th>Enabled</th>
    <th>Roles</th>
  </tr>
  <%= render :partial => 'user', :collection => @users %>
</table>
</div>
