<div class="column-right-box">
  <h4>Nube de etiquetas</h4>
  <div class="generic-right-box" id="tagcloud">
    <% tag_cloud @cloud, @css_classes  do |tag, css_class| %>
      <% if @application.tag_counts.member?(tag) %>
        <% if Category.find_by_name(tag.name) and !Category.find_by_name(tag.name).publicname.nil? and !Category.find_by_name(tag.name).publicname.empty? %>
	  <%= link_to Category.find_by_name(tag.name).publicname, categories_path(String.new(tag.name).to_url) + "/applications", :class => css_class %>
        <% else %>
	  <%= link_to tag, categories_path(String.new(tag.name).to_url) + "/applications", :class => css_class %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="column-right-bottom">&nbsp;</div>

