<div id="breadcrums">
	<%= link_to 'Cat&aacute;logo', categories_path %>
	<% cat_tags = [] %> 
	<% for tag in @tags %>
		> <%= link_to_if ((tag != @tags[-1]) or @application), String.new(tag).from_url, categories_path(cat_tags << tag) %>
	<% end %>
	<%=h '> ' + @application.name if @application %>
</div>