<h4>Categor&iacute;as:</h4>
<div class="content-box-right-in">
<ul>
<% for category in @categories %>
	<li>
		<%= link_to (image_tag category.icon.url(:small), :class => 'category_icon'), category_applications_path(category) %>
		<%= link_to category.name, category_applications_path(category) %>

	<% #= link_to 'Edit', edit_category_path(category) %>
	<% #= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %>
	
	</li>
<% end %>
</ul>


<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'New category', new_category_path %>
<% end %>
</div>