<h4>Categor&iacute;as:</h4>
<div class="content-box-right-in">
<ul>
<% for category in @categories %>
	<li>
		<%= link_to (image_tag category.icon.url(:small), :class => 'category_icon'), applications_tagged_with_path(category.name) %>
		<%= link_to category.name, applications_tagged_with_path(category.name) %>
	</li>
<% end %>
</ul>


<% if logged_in? and current_user.has_role?('administrator') %>
	<% #= link_to 'New category', new_category_path %>
<% end %>
</div>