<ul>
<% for category in @categories %>
	<li>
		<%= link_to category.name, category_applications_path(category) %>
		
	<!--
	< %= link_to 'Edit', edit_category_path(category) % >
	< %= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete % >
	-->
	</li>
<% end %>
</ul>


<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'New category', new_category_path %>
<% end %>
