<div id="installers">
  Instaladores:
  <table>
    <tr>
      <th></th>
      <th>32Bits</th>
      <th>64Bits</th>
    </tr>
    <tr>
      <td>Windows</td>
      <td>
        <% for installer in @installer32 %>
          <%= link_to installer.name, installer.installer.url, :title => 'descarga ' + installer.name if installer.version %>
        <% end %>
      </td>
      <td>
        <% for installer in @installer64 %>
          <%= link_to installer.name, installer.installer.url, :title => 'descarga ' + installer.name if installer.version %>
        <% end %>
      </td>
    </tr>
  </table>

  <% if logged_in? and current_user.has_role?('administrator') %>
    <%= link_to 'New installer', new_application_installer_path(@tags, @application) %>
  <% end %>
</div>
