<% for page in @pages %>
  <% if page.site == @site_config.name or page.site.nil? or page.site.empty? %>
	<li><%= link_to page.name, "/static/#{page.permalink}", :class => "active" %></li>
  <% end %>
<% end %>

<% if logged_in? and current_user.has_role?('administrator') %>
	<li><%= link_to 'New page', new_page_path %></li>
<% end %>
