<% unless @resources.empty? %>
	<% @resources.each do |resource| %>
	<p>
		<!-- < %= link_to resource.name, [@category, @application, resource] % > -->
		<%= link_to resource.name, resource.url %>
	</p>
	<% end %>
	<br />
	
	<% if logged_in? and current_user.has_role?('administrator') %>
		<%= link_to 'New resource', new_category_application_resource_path(@category, @application) %>
	<% end %>
<% end %>