<% unless @application.resources.empty? %>
	<% @application.resources.each do |resource| %>
	<p>
		<!-- < %= link_to resource.name, [@category, @application, resource] % > -->
		<%= link_to resource.name, resource.url %>
	</p>
	<% end %>
	<br />
	
	<%= link_to 'New resource', new_category_application_resource_path(@category, @application) %>
<% end %>