<h4>Otros recursos:</h4>
<div class="content-box-right-in">
<ul>
	<% for resource in @application.resources %>
	<li>
		<% #= link_to resource.name, [@category, @application, resource] %>
		<%= link_to resource.name, resource.resource.url,
			:title => resource.description if resource.name %>
	</li>
	<% end %>
</ul>
	
<% if logged_in? and current_user.has_role?('administrator') %>
	<%= link_to 'New resource', new_category_application_resource_path(@category, @application) %>
<% end %>
</div>