<% form_tag '/search' do %>
  <div class="search">
    <% if !params[:s] or @search.nil? %>
      <%# If you have not done a search is shown the default text %>
      <%= text_field_tag :s, params[:s], :value => 'Buscar ...' , :onclick => "this.value =''", :class => "search_text" %>
    <% else %>
      <%# It shows the Buscar string %>
      <%= text_field_tag :s, params[:s], :class => "search_text"  %>
    <% end %>
  </div>
<% end %>
