<div class="app_details">

<h3>Editing <%= @application.name %> Resource</h3>

<%= error_messages_for :resource %>

<%= render :partial => @resource, :locals => { :button_name => "Update"} %>

</div>
