<h1>Editing resource</h1>

<%= error_messages_for :resource %>

<%= render :partial => @resource, :locals => { :button_name => "Update"} %>

<%= link_to 'Show', [@application, @resource] %> |
<%= link_to 'Back', application_resources_path(@application) %>
