<h1>Editing resource</h1>

<%= error_messages_for :resource %>

<%= render :partial => @resource, :locals => { :button_name => "Update"} %>

<%= link_to 'Show', [@category, @application, @resource] %> |
<%= link_to 'Back', category_application_resources_path(@category, @application) %>
