<h1>New resource</h1>

<%= error_messages_for :resource %>

<%= render :partial => @resource, :locals => { :button_name => "Create"} %>

<%= link_to 'Back', application_resources_path(@application) %>
