<div class="app_details">

<h3>New <%= @application.name %> Resource</h3>

<%= error_messages_for :resource %>

<%= render :partial => @resource, :locals => { :button_name => "Create"} %>
<%= link_to 'Back', application_resources_path(@tags, @application) %>

</div>
