<div class="app_details">

<p>
  <b>Site:</b>
  <%=h Category.find_by_id(@menu_node.site_id).name if !Category.find_by_id(@menu_node.site_id).nil? %>
</p>

<p>
  <b>Parent:</b>
  <%=h Category.find_by_id(@menu_node.category_id).name if !Category.find_by_id(@menu_node.category_id).nil? %>
</p>

<p>
  <b>Child:</b>
  <%=h Category.find_by_id(@menu_node.child_id).name if !Category.find_by_id(@menu_node.child_id).nil? %>
</p>

<input type="button" onclick="parent.location='/menu_nodes/<%=@menu_node.id%>/edit'" value="Edit" /> &nbsp;
<input type="button" onclick="parent.location='/menu_nodes'" value="Back" />

</div>
