<% title "Edit Screenshot" %>

<%= render :partial => @screenshot, :locals => { :button_name => "Update" } %>

<p>
  <%= link_to "Show", [@category, @application, @screenshot] %> |
  <%= link_to "View All", category_application_screenshots_path(@category, @application) %>
</p>
