<% title "New Screenshot" %>

<%= render :partial => @screenshot, :locals => { :button_name => "Create" } %>

<p><%= link_to "Back to List", category_application_screenshots_path(@category, @application) %></p>
