<% title "New Screenshot" %>

<h3>New <%= @application.name %> Screenshot</h3>

<%= render :partial => @screenshot, :locals => { :button_name => "Create" } %>

<p><%= link_to "Back to List", application_screenshots_path(@tags, @application) %></p>
